:root {
    --tint-background: rgba(0,0,0,0.05);
    --highlight: rgb(30, 91, 201);
    --alert: rgb(220, 101, 85);
    --alert-hover: rgba(220, 101, 85, 0.5);
}

i {
    font-style: normal;
    font-family: Material Icons;
    line-height: 1;
}

html, body {
    border: 0;
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

button {
    border: 0;
    padding: 0 10px;
    margin: 0;
    background-color: rgba(0,0,0,0.2);
    border-radius: 8px;
}

button:hover {
    background: rgba(0,0,0,0.25);
}

button:active {
    background: var(--highlight);
}

button.alert {
    border-color: var(--alert)
}

.common-list-view {
    height: 100%;
}

.common-list-view-list {
    display: flex;
    flex-flow: column;
    overflow-y: auto;
    overflow-x: hidden;
    height: calc(100% - 17px)
}

.common-list-view-header {
    font-weight: bold;
    flex-grow: 0;
    flex-shrink: 0;
    background-color: rgba(0,0,0,0.1);
    display: block;
    padding-left: 5px;
}

.common-list-view-row {
    flex-grow: 0;
    flex-shrink: 0;
    border-bottom: 1px solid var(--tint-background);
    padding: 0 5px;
}

.box {
    background: var(--tint-background);
    border-color: rgba(0, 0, 0, 0.07) rgba(0, 0, 0, 0.035) rgba(0, 0, 0, 0.027);
    border-width: 1px;
    border-style: solid;
    border-radius: 5px;
}

.common-modal {
    position: absolute;
    z-index: 10000;
    background: #f2f2f2;
    box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.5);
}

.top-bar {
    width: 100%;
    height: 50px;
    display: grid;
    grid-template-rows: 50px;
    grid-template-columns: 75px auto 75px;
    grid-template-areas: 'back title x';
    background: var(--tint-background);
    min-width: 1005px;
}

.back-button {
    grid-area: back;
    width: 45px;
    height: 45px;
    font-size: 24pt;
    border: 0;
    border-radius: 5px;
    text-align: center;
    background: var(--tint-background);
    margin-left: 5px;
}


.top-bar-title {
    grid-area: title;
    text-align: center;
    font-size: 24pt;
}

.character-picker {
    display: flex;
    width: 500px;
    margin: auto;
    flex-flow: column;
    overflow-y: auto;
    overflow-x: visible;
    border-radius: 5px;
}

.character-picker > div {
    overflow: visible;
}

.character-picker-header {
    font-weight: bold;
    
}

.character-picker-entry,
.character-picker-header {
    width: 100%;
    margin-bottom: 5px;
    border-radius: 5px;
    font-size: 24pt;
    height: 50px;
}

.character-picker-entry {
    display: grid;
    grid-template-columns: 100px 400px;
    grid-template-rows: 50px;
    grid-template-areas: 'cls name';
    cursor: pointer;
}

.character-picker-entry:hover {
    background: rgba(0,0,0,0.5);
    color: white;
}

.character-picker-class-container {
    grid-area: cls;
    display: flex;
    flex-flow: row;
}

.character-picker-class {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-origin: content-box;
    width: 50px;
    height: 50px;
}

.character-name {
    grid-area: name;
    font-size: 24pt;
}

.character-sheet {
    display: grid;
    grid-template-columns: 55px 165px 387px 400px 565px;
    grid-template-rows: 75px 120px 80px 270px 205px 70px;
    grid-template-areas: 
    'name name   meta meta  daily'
    'abi  save   def  notes daily'
    'abi  skills def  notes spells'
    'abi  skills cmb  notes spells'
    'prof  prof  arm  items spells'
    'prof  prof  mon  items spells';
    margin-bottom: 50px;
}

.character-name-container {
    grid-area: name;
    border-radius: 5px;
    margin: 5px 0 0 5px;
    text-align: center;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-items: center;
}

.character-name-text {
    font-size: 33pt;
    font-weight: bold;
}

.inspiration-container {
    display: grid;
    grid-template-rows: 15px 15px;
    grid-template-columns: 100px 15px;
    grid-template-areas: 'insp up'
                        'insp down';
}
.inspiration-container > span {
    grid-area: insp;
    line-height: 1.75;
}

.inspiration-container > button,
.adjustable-inner > button {
    width: 14px;
    height: 14px;
    padding: 0;
    text-align: center;
    font-size: 6pt;
}
.inspiration-container > .up {
    grid-area: up;
}
.inspiration-container > .down {
    grid-area: down;
}

.character-description {
    grid-area: meta;
    border-radius: 5px;
    margin: 5px 0 0 5px;
    display: grid;
    grid-template-rows: 50% 50%;
    grid-template-columns: 160px 38px 198px 198px;
    grid-template-areas: 
        'cls  level background background'
        'race race  alignment  experience';
}

.character-class {
    grid-area: cls;
}

.class-level {
    grid-area: level;
}

.character-race {
    grid-area: race;
}

.character-background {
    grid-area: background;
}

.character-alignment {
    grid-area: alignment;
}

.character-experience {
    grid-area: experience;
    cursor: pointer;
}

.experience-adjuster {
    position: absolute;
    left: 600px;
    top: 100px;
    display: flex;
    flex-flow: column;
    border-radius: 5px;
    width: 175px;
}

.desc-part {
    display: grid;
    grid-template-rows: 18px 1px 17px;
    grid-template-areas: 
        'value'
        'divider'
        'label';
}

.desc-value {
    font-size: 12pt;
    margin-left: 10px;
}

.desc-divider {
    margin: auto;
    width: calc(100% - 10px);
}

.desc-label {
    font-size: 9pt;
    color: grey;
    margin-left: 5px;
}

.ability-scores-column {
    grid-area: abi;
    display: flex;
    flex-flow: column;
    align-items: center;
    align-content: flex-start;
    margin: 5px 0 0 5px;
}

.ability-scores-column > .ability-score-container + .ability-score-container {
    margin-top: 5px;
}

.box.alert {
    border: 1px solid var(--alert);
}

.ability-score-container {
    display: grid;
    grid-template-rows: 1fr 17px 17px;
    height: 50px;
    
}

.ability-score-adjustor {
    border-radius: 5px;
    position: absolute;
    left: 50px;
    top: 274px;
}

.ability-score-adjustor > .scores-list > .input-group {
    display: flex;
    flex-flow: column;
    align-items: center;
}

.ability-score-adjustor > .scores-list > .input-group > input {
    width: 75px;
}

.ability-score-container {
    display: flex;
    flex-flow: column;
    align-items: center;
    align-content: flex-start;
    padding: 5px;
    height: 71px;
    justify-content: flex-start;
}

.saves-list {
    display: flex;
    flex-flow: column;
    grid-area: save;
    align-items: flex-end;
    border-radius: 5px;
    margin: 5px 0 0 5px;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-start;
    padding-left: 5px;
    padding-top: 1px;
}

.skills-list {
    display: grid;
    grid-template-rows: repeat(15, 1fr);
    grid-area: skills;
    margin: 5px 0 0 5px;
    padding-left: 5px;
    padding-top: 5px;
}

.skills-list.alert {
    border-color: var(--alert);
}

.skills-adjustor {
    position: absolute;
    left: 100px;
    top: 250px;
    padding: 5px;
}

.skills-adjustor > .skill-adjustor-option {
    display: block;
    background: var(--tint-background);
    margin: 5px 5px 0;
    padding: 5px;
    cursor: default;
}

.skill-container div span {
    line-height: 1;
}

.skill-adjustor-option.selected {
    background: var(--highlight);
}

.skill-name {
    grid-area: name;
}

.skill-value {
    grid-area: score;
    text-align: center;

}

.check-box {
    border-radius: 50%;
    width: 15px;
    height: 15px;
    border: 2px solid black;
}

.check-box.selected {
    background: black;
}

.passive-wisdom {
    grid-area: pas;
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
}

.defences {
    grid-area: def;
    margin: 5px 0 0 5px;
    border-radius: 5px;
    display: grid;
    grid-template-rows: 60px 60px 60px;
    grid-template-columns: 125px 125px 125px;
    grid-template-areas: 
        'ac  init speed'
        'hp  temp dmg'
        'etc hd misc';
}


.defence-container {
    display: flex;
    flex-flow: column;
    text-align: center;
    border-radius: 5px;
    margin: 5px 0 0 5px;
    font-size: 12pt;
}
.defence-container.armor-class {
    grid-area: ac;
}

.defence-container.initiative {
    grid-area: init;
}

.defence-container.speed {
    grid-area: speed;
}

.defence-container.hit-points {
    grid-area: hp;
}

.defence-container.damage {
    grid-area: dmg;
}
.defence-container > .adjustable-inner {
    display: grid;
    grid-template-rows: 50% 50%;
    grid-template-columns: auto 10px;
    grid-template-areas: 
        "value up"
        "value down";
    padding: 0 15px;
}
.adjustable-inner > .defence-value {
    grid-area: value;
}

.defence-container > .adjustable-inner > button:hover {
    background: white;
}
.adjustable-inner > .adjust-up {
    grid-area: up;
}

.adjustable-inner > .adjust-down {
    grid-area: down;
}

.defence-container.hit-die {
    grid-area: hd;
}

.weapons {
    grid-area: cmb;
    grid-template-areas: 'name dmg misc';
    border-radius: 5px;
    margin: 5px 0 0 5px;
}

.weapon-container {
    margin: 5px 0 0 5px;
    display: grid;
    grid-template-rows: 25px;
    grid-template-columns: 120px 60px 135px 15px;
    grid-template-areas: 'name dmg misc del';
    border-radius: 5px;
    font-size: 14pt;
    padding-top: 5px;
    margin-right: 5px;
}

.weapon-container > button {
    grid-area: del;
    height: 15px;
    width: 15px;
    padding: 0;
    border: 0;
    line-height: 5px;
    font-size: 12pt;
    text-align: center;
    color: crimson;
}

.weapon-name {
    grid-area: name;
    margin-left: 5px;
}

.weapon-dmg {
    grid-area: dmg;
}

.weapon-misc {
    grid-area: misc;
}

.new-weapon {
    display: flex;
    flex-flow: column;
    position: absolute;
    left: 260px;
    top: 343px;
    border-radius: 5px;
}

.new-weapon > div {
    display: flex;
    flex-flow: row;
}

.new-weapon > div > label {
    width: 150px;
}

.armors {
    grid-area: arm;
    margin: 5px 0 0 5px;
    position: relative;
}

.armors .armor-list .armor-entry .box,
.armor-list-header {
    display: grid;
    grid-template-rows: 25px;
    grid-template-columns: 150px 75px 85px;
    margin-top: 5px;
    font-size: 14pt;
    padding-top: 5px;
    padding-left: 5px;
    margin-right: 5px;
}

.armor-list-button-row button {
    width: 100%;
    
}

.armor-adjustor {
    position: absolute;
    top: 10px;
    left: 10px;
}

.armor-adjustor-header,
.armor-adjustor-armor {
    display: grid;
    grid-template-rows: 25px;
    grid-template-columns: 100px 100px 100px;
}

.armor-adjustor-header span,
.armor-adjustor-armor span {
    text-align: center;
    line-height: 18pt;
}

.money {
    grid-area: mon;
    border-radius: 5px;
    margin: 5px 0 0 5px;
}
.money-row {
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    align-items: center;
    align-content: center;
}
.money-unit {
    display: grid;
    grid-template-columns: 25px 15px;
    grid-template-areas: 
        'value unit';
    height: 25px;
    line-height: 25px;
    margin-top: 5px;
}

.unit-value {
    grid-area: value;
    text-align: right;
}

.unit-unit {
    grid-area: unit;
    text-align: left;
}

.adjust-money-button {
    width: 100%;
}

.money-adjuster {
    top: 730px;
    left: 200px;
    border-radius: 5px;
    display: flex;
    flex-flow: column;
}

.input-pair {
    display: flex;
    flex-flow: column;
}

.money-adjuster > .inputs > .input-pair > input {
    width: 75px;
}

.passive-wisdom {
    grid-area: pas;
    border-radius: 5px;
    margin: 5px 0 0 5px;
}

.proficiency {
    border-radius: 5px;
    margin: 5px 0 0 5px;
    grid-area: prof;
    display: flex;
    flex-flow: column;
}

.notes {
    grid-area: notes;
    border-radius: 5px;
    margin: 5px 0 0 5px;
    display: flex;
    flex-flow: column;
}

.note-value {
    cursor: default;
}

.items-list {
    grid-area: items;
    display: flex;
    flex-flow: column;
    border-radius: 5px;
    margin: 5px 0 0 5px;
    justify-content: space-between;
}

.items-list > .item-list {
    display: flex;
    flex-flow: column;
}

.magic-list-item > button {
    margin-left: 5px;
    width: 15px;
    height: 15px;
    line-height: 5px;
    text-align: center;
    padding: 0;
    border: 0;
}

.magic-list-item {
    cursor: default;
}

.new-item {
    display: flex;
    flex-flow: row nowrap;
    left: 620px;
    top: 765px;
    border-radius: 5px;
    padding: 5px;
}

.new-item > select {
    width: 100px;
}

input[type="number"] {
    width: 75px;
}

.expendable-list-title,
.magic-list-title {
    font-weight: bold;
}

.spells-info {
    grid-area: daily;
    margin-left: 5px;
    margin-top: 5px;
    display: grid;
    grid-template-rows: 25px 75px 75px;
    grid-template-columns: 125px 125px 310px;
    grid-template-areas: 
        'header header   header'
        'dc     cantrips slots'
        'ab     spells   x';
}

.spells-info > .box {
    margin-left: 5px;
    margin-top: 5px;
    text-align: center;
}

.spells-info-header {
    grid-area: header;
    width: 100%;
    font-weight: bold;
    background: var(--tint-background);
    text-align: center;
    display: block;
    margin-bottom: 2px;
}

.spells-dc {
    grid-area: dc;
}

.spells-attack-bonus {
    grid-area: ab;
}

.cantrips-known {
    grid-area: cantrips;
}

.spells-known {
    grid-area: spells;
}

.spells-dc,
.spells-attack-bonus,
.cantrips-known,
.spells-known {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.edit-spells-button {
    margin-left: 5px;
}

.edit-spells-button.info-button {
    padding: 3px;
}

.character-creator {
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
    width: 800px;
    margin: auto;
}

.character-creator select {
    font-size: 11pt;
}

.character-creator > * {
    width: 100%;
}

.character-creator > * + * {
    margin-top: 10px;
}

.character-creator-title {
    text-align: center;
    background: var(--tint-background);
    height: 50px;
    font-size: 24pt;
    position: relative;
}
.character-creator-title > button {
    width: 90px;
    font-size: 11pt;
    left: calc(100% - 100px);
    position: absolute;
}
.character-creator-title > .save {
    top: 5px;
}

.character-creator-title > .save:hover {
    background: var(--highlight);
    color: white;
}

.character-creator-title > .cancel {
    top: calc(100% - 23px);
}

.character-creator-title > .cancel:hover {
    background: var(--alert);
    color: white;
}

.race-selector-title {
    margin-left: 5px;   
}

.race-selector-title > label {
    font-weight: bold;
    margin-right: 5px;
}

.error-messages {
    display: flex;
    flex-flow: column;
    background: var(--alert);
}

.error-messages > .error-message {
    color: white;
    padding-left: 5px;
    width: 100%;
    border-bottom: 1px solid var(--tint-background);
}

.race-info {
    grid-area: race;
    height: 350px;
}

.race-selector {
    display: flex;
    flex-flow: row;
    height: 25px;
}

.race-details {
    height: 325px
}

.basic-info {
    display: flex;
    flex-flow: row;
}

.basic-info > .input-pair {
    margin-left: 5px;
    height: 45px;
}

.basic-info > .input-pair > label {
    font-weight: bold;
}

.height-inputs {
    display: flex;
    flex-flow: row;
}
.height-inputs > input {
    width: 50px;
}

.alignment-inputs > * + * {
    margin-left: 5px;
}

.class-selector {
    display: flex;
    flex-flow: row;
}

.class-selector {
    width: 100%;
}

.class-selector > label {
    font-weight: bold;
}

.class-selector > label {
    margin-left: 5px;
}

.class-selector > select {
    margin-left: 5px;
}

.class-feature-row {
    cursor: default;
    padding: 0 5px;
    padding-top: 0;
}

.class-feature-row > span + span {
    margin-left: 5px;
}

.class-feature-name {
    font-weight: bold;
}



.levels-list {
    width: 20%;
    border-left: 1px solid rgba(0,0,0,0.5);
    border-right: 1px solid rgba(0,0,0,0.5);
}

.class-entry.selected,
.level-entry.selected {
    background: #007bfa;
    color: white;
}
.class-entry.selected > * {
    color: white;
}

.background-info-title > label {
    font-weight: bold;
    margin-left: 5px;
}

.background-info-title > select {
    margin-left: 5px;
}

.background-list {
    width: 250px;
}

.tool-select,
.language-select {
    margin-left: 5px;
}

.daily-spells {
    grid-area: slots;
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
}

.daily-spells-box-header {
    text-align: center;
    padding-top: 5px;
}

.daily-spells-table {
    text-align: center;
    border-collapse: collapse;
    margin: 0 auto;
}

.daily-spells-headers {
    background: var(--tint-background);
}

.daily-spells-values {
    border: none;
    
}

.daily-spells-table td,
.daily-spells-table th {
    border: none;
    width: 35px;
}

.spell-list {
    grid-area: spells;
    margin-left: 5px;
    margin-top: 5px;
}

.spell-list-header {
    background: var(--tint-background);
}

.spell-list-header,
.spell-list-level-header,
.spell-list-entry {
    padding: 5px 5px 0 5px;
    display: flex;
    flex-flow: row;
    align-items: center;
}

.spell-list-entry {
    cursor: default;
    display: grid;
    grid-template-rows: 20px;
    grid-template-columns: 450px 70px 25px;
    grid-template-areas: 'name action info';
}

.spell-list-entry > span {
    grid-area: name;
}

.spell-list-entry > .info-button {
    grid-area: info;
}

.unit-value {
    margin-right: 5px;
}

.ability-score-selector-title {
    display: block;
    font-weight: bold;
    margin-left: 5px;
}

.ability-score-selector-remaining,
.racial-ability-score-bonuses {
    display: block;
    padding-left: 5px;
    width: 100%;
    border-bottom: var(--tint-background);
    margin-bottom: 5px;
}

.ability-score-values {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.ability-score-value {
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    padding: 5px
}

.ability-score-value.primary {
    background-color: var(--highlight);
    color: white;
}

.ability-score-value.primary > .ability-score-adjustor-buttons > button {
    color: white;
}

.ability-score-value > .ability-score-name {
    font-weight: bold;
}

.skill-selector-values {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    padding: 5px;
}

.skill-selector-value {
    padding: 5px;
    border-radius: 5px;
    background: var(--tint-background);
    margin: 2px;
    cursor: default;
    text-align: center;
}
.skill-selector-value > i {
    margin-left: 5px;
}


.skill-selector-value.enabled {
    background: var(--highlight);
    color: white;
}
